*{
    padding: 0 !important;
    box-sizing: border-box;
    margin: 0 !important;
}

.coontainer1{
    background-color: dodgerblue;
    height: 100vh;
}

.dashboard_items{
    padding-top: 4em !important;
    
    
}

.font_icons{
    color: greenyellow;
}

.menu_icon{
    position: relative;
}

.dashboard_catergory{
    padding-left: 4em !important;
    padding-top: 5em !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
}

.top_students{
    width: 80% !important;
    background-color: dodgerblue !important;
    height: 60px;
    border-radius: 10px;
    padding-top: 1em !important;
    margin-top: 1em !important;
    

    

  
    
}

.category_icon{
    color: greenyellow;
}

.category_list {
    width: 90%;
    height: 120px !important;
    padding-top: 1em !important;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.3);
    border-radius: 15px !important;
   
}

.card_details{
    width: 80%;
    height: 150px !important;
    box-shadow: 0 4px 10px rgba(34, 34, 34, 0.3);
    margin-left: 6em !important;

}

.card_info{
    width: 70%;
    height: 50px !important;
    background-color: dodgerblue !important;
    color: white !important;
    justify-content: center;
    border: none !important;
}

.card_con{
    background-color: greenyellow;
}

.dashboard_content:hover{
    background-color: white;
    color: black !important;
    cursor: pointer;
}



@media (min-width:730px) and (max-width:1030px){

    
    .dashboard_catergory{
        padding-left: 2em !important;
        grid-template-columns: repeat(2, 4fr);
    }


    .card_details{
        width: 80%;
        margin-left:2em !important;
        height: fit-content !important;
    
    }


    .card_con{
        flex-direction: column;
        
    }

}

@media (max-width:600px){




    .dashboard_catergory{
        padding-left: 2em !important;
        grid-template-columns: repeat(1, 6fr);
    }


    .card_details{
        width: 80%;
        margin-left:2em !important;
        height: fit-content !important;
    
    }


    .card_con{
        flex-direction: column;
        
    }

    .dashobard_link{
        display: none;
    }
}

